
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<p>
  <strong>Current User:</strong>
  <%= @user.email %>
</p>
<p><u>Please refresh the page, If the map doesn't get loaded.</u></p>

<table>
  <tr>
    <td>
      <h2 align="center"><u>My Pins</u></h2>
      <p align="right">       
      <%= link_to 'New Location', new_user_location_path(@user) %>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %></p>
      <table>
        <thead>
          <tr>
            <th>Loc</th>
            <th>Journal</th>
            <th>Date</th>
            <th>Coordinates</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @user.locations.each do |location| %>
          <tr>

            <td><%= location.loc %></td>
            <td><%= location.journal %></td>
            <td><%= location.date %></td>
            <td><%= location.coordinates %></td>
            <td><%= link_to 'Edit', edit_user_location_path(id: location._id, user_id:@user._id) %></td>
            <td> <%= link_to 'Destroy', user_location_path(id: location._id, user_id:@user._id), :method => :delete, :confirm => "Are you sure?" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </td>
    <td><%= render 'map' %></td>
  </tr>
</table>


